<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <p class="text-muted">Desafio Backend</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.linkedin.com/in/john-diego-oliveira-silva-89a137137/" class="text-white">Linkedin</a></li>
            <li><a href="mailto:johnoliveirasilva9@gmail.com" class="text-white">Email</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <% if user_signed_in? %>
        <%= link_to 'Edit Perfil', edit_user_registration_path, class: 'text-white navbar-brand' %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'text-white navbar-brand' %>
      <% else %>
        <%= link_to t('.sign_up'), new_user_registration_path, class: 'text-white navbar-brand' %>
        <%= link_to t('.sign_in'), new_user_session_path, class: 'text-white navbar-brand' %>
      <% end %>
      <%= link_to homes_url, class:"navbar-brand d-flex align-items-center" do %>
        <i class='fas fa-shield-virus'></i>&nbsp;&nbsp;<strong>Desafio Backend</strong>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>