<!DOCTYPE html>
<html>
  <head>
    <title>DesafioBackend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= render "shared/header" %>
  <body>
    <main>
      <div class="album py-5 bg-light">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
  <%= render "shared/footer" %>
</html>
