<!DOCTYPE html>
<html>
  <head>
    <title><%= t('Congressmen Manager') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render "shared/navigation" %>
      
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>" role="alert">
              <%= value %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <%= yield %>
      
      <%= render "shared/footer" %>
    </div>
  </body>
</html>